---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>

	<h1 class="title mb-6">About</h1>
	<div class="prose prose-citrus max-w-none">
		<p>
			Lemon Productions is a podcast studio based in Saskatoon, Saskatchewan run by me – Chris Enns. Helping individuals and businesses get off the ground and onto the web is what drives me and why I love running my own business.</p>

		<p>
			I published my first podcast in 2009 and with 2,000+ podcast episodes produced, recorded, edited, and published into the world since then, I’m just as excited about podcasting as when I started.</p>
		<p>
			I love building getting to work in audio & video with clients. It’s come full circle to what I had hoped to do when I started Lemon Productions in 2006.
		</p>

	<h2 class="title mb-6">Where You Can Find Me Online</h2>

		<p>I’m most active on my personal Twitter account, @iChris, but you can also find me @LemonProduction.</p>

		<p>I post to Instagram @LemonPodcasting, live stream on my Twitch channel, and have a YouTube channel full of Mac audio tips and tricks with over 1,000 subscribers.</p>

		<p>I also write a weekly newsletter called Life as a Lemon.</p>

	<h2 class="title mb-6">Who I Work For</h2>

			<p>When you’re hiring Chris & Lemon Productions, it’s kind of like you’re hiring a team of 5. I don’t usually bring all of them to meetings, let my daughter write proposals, or let my boys edit podcasts – but helping you succeed in whatever you’ve hired me to do means I get to transfer that success back to my family.</p>

			<p>By choosing to work with me, you’re supporting a Saskatoon family. And we thank you for that.</p>

	</div>

</PageLayout>
